
@font-face {
    font-family: 'Ringbearer';
    src: url('Ringbearer Medium 500.ttf') format('truetype');
    font-weight: 500;
  }
  
  *{
    font-family: 'Ringbearer';
  } 
  


.container-fluid {
    margin: 0;
    padding: 0;
  }


  body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("https://wallpaperaccess.com/full/808718.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  .rolesArea{
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    background-color: white;
    border-radius: 20px;
    color:black;
  }

  .buttons{

    margin: 5px;
    display: flex;
    justify-content: end;
}

.btn{
    margin: 5px;
    font-size: 20px;
    
}

.requestButton{
  text-align: right;
padding-top: 5px;
}
