.scrollable-container {
    max-height: 400px; 
    overflow-y: scroll;
  }

  
  .btn:hover{
    background-color:rgba(23,23,35,255);
    border-color:rgba(23,23,35,255);

}

.btn:active{
  border-color:   rgba(33,110,156,255);
  background-color:rgba(33,110,156,255) ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(39,39,40,0.8);

  }

  body{
    display: flex;
    height: 100%;
    background: url("https://cdnb.artstation.com/p/assets/images/images/004/628/675/large/hayo-koekkoek-hk-mt-hall-of-kings-a.jpg?1485125574") no-repeat;
    background-position: center;
    overflow: auto;
    background-size: cover;
    width: 100%;
    height: 100vh;
    align-items: start;
    justify-content: center;
    color: antiquewhite;
  }

  li,ul,td,tr{
    color: antiquewhite;

  }

  .card{
    background-color: rgba(23,23,35,0);
    border: none;

  }

