<!-- <div class="card-list" *ngIf="isLoggedIn()">
  <p>Cards of {{loggedinUser}}</p>
  <div *ngFor="let card of cards;let last">
      <h2>{{ card.name }}</h2>
      <h2>{{card.power}}</h2>
      <p>{{ card.type }}</p>
      <img [src]="card.picture" alt="{{ card.name }}" />
    </div>
</div> -->
<div class="container-fluid">
<label *ngIf="!isLoggedIn()">First log in to see your cards</label>


<div *ngIf="isLoggedIn()">
  <h1>Cards of {{loggedinUser}}</h1>
  <div class="row row-cols-md-6 row-cols-md-3 ">
    <div class="col mb-4" *ngFor="let card of cards">
      <div class="card">
        <img src="{{card.picture}}" class="card-img-top" alt="{{card.name}}">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{card.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

</div>