
 @font-face {
  font-family: 'Ringbearer';
  src: url('Ringbearer Medium 500.ttf') format('truetype');
  font-weight: 500;
}

*{
  font-family: 'Ringbearer';
} 


#appComponentCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  position: absolute;
  z-index: 1;
}

img{height: 200px;background-position: 50% 50% ;}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.navbar{
  height: 50px;
}
.mainTitle{
  display: flex;
  justify-content: center;
}



.header-image{
padding-top:50px;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 50px;
}

.nav-link{
color:antiquewhite;
font-weight: bold;
text-decoration: underline;
}

