<body>
    

<div class="container">
<h1>CARD GAME</h1>

<div>

<div class="container-fluid" *ngIf="!deckIsChosen">
<h2 class="text-center">Choose Deck: </h2>
<div *ngFor="let deckName of userDecksName" class="text-center">
  <button class="btn btn-lg btn-primary btn-block" 
    (click)="showChoosenDeck(deckName)">{{deckName}}</button>

  <div class="container" *ngIf="selectedDeckName === deckName">
    <h2>Deck Cards: {{deckName}}</h2>
    <div class="row" id="deckCardList">
      <div class="col-md-2" *ngFor="let card of selectedDeckCards;">
        <div class="card">
          <img class="card-img-top" [src]="card.picture" alt="{{ card.name }}">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<form [formGroup]="gameForm" *ngIf="deckIsChosen">

    <h2>HAND CARDS</h2>
    <div class="row hand">
        <div class="col-md-2" *ngFor="let card of handCards;let i=index">
            <div class="card">
                <img class="card-img-top" [src]="card.picture" alt="{{ card.name }}" (click)="selectedCardToPlay(i,card.type)">
            </div>
        </div>
    </div>

    


    <h1>TOTAL: {{rowSumTotal}}</h1>

    <h2>Melee total: {{meleeRowSum}}</h2>
    <div class="row">
        <div class="col-md-2" *ngFor="let card of meleeCards;">
            <div class="card">
                <img class="card-img-top" [src]="card.picture" alt="{{ card.name }}">
            </div>
        </div>
    </div>

    <h2>Ranged total: {{rangedRowSum}}</h2>
    <div class="row">
        <div class="col-md-2" *ngFor="let card of rangedCards;">
            <div class="card">
                <img class="card-img-top" [src]="card.picture" alt="{{ card.name }}">
            </div>
        </div>
    </div>

    <h2>Siege total: {{siegeRowSum}}</h2>
    <div class="row">
        <div class="col-md-2" *ngFor="let card of siegeCards;">
            <div class="card">

                <img class="card-img-top" [src]="card.picture" alt="{{ card.name }}">
            </div>
        </div>
    </div>

</form>
</div>
</div>
</body>