
@font-face {
  font-family: 'Ringbearer';
  src: url('Ringbearer Medium 500.ttf') format('truetype');
  font-weight: 500;
}

*{
  font-family: 'Ringbearer';
} 


    
      /* .container{
        border: 3px dotted blue;
      }
    
      div{
        border: 3px solid black;
    
      } */
    
      main{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      #carousel{
        margin-top: 10px;
        height: auto;
        width: 100%;
    
      }
    
    img{height:400px;border-radius: 20px;
    }
    

    .card{
        border-radius: 20px;
        height: auto;
    }
    
    .card-img-top{
        border-radius: 20px 20px 0 0 ;
    }
    
    .card-body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #sidebar {
        position: fixed;
        top: 250px;
        left: 0;
        width: auto;
        padding: 20px;
    
    }
    
 
    
    #sidebar.affix {
        position: relative;
        top: 0;
    }
    
    
    #carousel, .card,.dropdown-item{
      cursor: pointer;
    }
    
    
    /* #homePage{
      position: relative;
      z-index: 1;
    }
    
    #homePage::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
    background-image: url('https://wallpaperaccess.com/full/808718.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
    }
     */
    
 

     body{
      display: flex;
      height: 100%;
      background: url("https://wallpaperaccess.com/full/808718.jpg") no-repeat;
      background-position: center;
      overflow: auto;
      background-size: cover;
      width: 100%;
      height: 100vh;
      align-items: start;
      justify-content: center;

     }
    
    .nav-link,.dropdown-item{
      color:antiquewhite;
      
    }
    .nav-link:hover,.dropdown-item:hover{
      background-color: white;
      color: black;
    }

    .nav-link{
      font-weight: bold;
      text-decoration: underline;
    }
    
.card:hover{
    transform: scale(1.1);
    transition: 0.5s
}

